<% content_for :title, "DO Query Ruby Editor" %>
<% content_for :full_bleed, true %>

<section class="editor-workbench">
  <aside class="editor-activitybar" aria-label="Activity bar">
    <div class="editor-activitybar__brand">R8</div>
    <div class="editor-activitybar__item is-active">Rb</div>
    <div class="editor-activitybar__item">IO</div>
    <div class="editor-activitybar__item">Do</div>
  </aside>

  <section class="editor-main" aria-label="Editor main area">
    <div class="editor-tabs" role="tablist" aria-label="Open files">
      <div class="editor-tab is-active">do_query.rb</div>
      <div class="editor-tab">run output</div>
    </div>

    <%= render "workspace" %>
  </section>

  <footer class="editor-statusbar">
    <div class="editor-statusbar__group">
      <span>main</span>
      <span>Rails 8</span>
      <span>UTF-8</span>
    </div>
    <div class="editor-statusbar__group">
      <span>Ruby</span>
      <span>Spaces: 2</span>
      <span>Quick Run</span>
    </div>
  </footer>
</section>
