<% flash.each do |type, message| %>
  <div 
    id="flash_message"
    class="py-2 px-4 rounded-md shadow-lg font-medium text-white transition-all 
           <%= type == 'notice' ? 'bg-green-500' : 'bg-red-500' %>"
    data-controller="flash" <%# あとで自動消去するためにStimulusを付けるのがおすすめ %>
  >
    <%= message %>
  </div>
<% end %>