<div class="text-center py-4">
  <h2 class="text-2xl font-bold mb-6 text-gray-800">Login</h2>
  <%= button_to "/auth/google_oauth2", method: :post, data: { turbo: false }, class: "w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-8 rounded-full cursor-pointer flex items-center justify-center gap-2" do %>
    Sign in with Google
  <% end %>

  <% if flash[:alert] %>
    <div class="mt-4 text-red-500 text-sm">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="mt-4 text-green-500 text-sm">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>
